<c-main-navigation>
  <primary-items>
    {% for item in site.data.pages %}
      {% assign url = item.url | remove: site.baseurl %}
      <nav-item location="{{item.url}}"{% if url != "" and page.url contains url %} class="active"{% endif %}>
        {{item.name}}

        {% if item.children %}
          <sub-navigation caption="{{item.caption}}">
            {% for sub in item.children %}
              <nav-item location="{{sub.url}}"{% if sub.url contains page.url %} class="active"{% endif %}>{{sub.name}}</nav-item>
            {% endfor %}
          </sub-navigation>
        {% endif %}
      </nav-item>
    {% endfor %}
  </primary-items>

  <secondary-items>
    <nav-item>
      <a href="https://www.scania.com/ux-library/en/home.html" target="_blank">Comon editors<i class="fal fa-external-link ml-2"></i></a>
    </nav-item>
  </secondary-items>
</c-main-navigation>